/target/test-classes/pages/EtsyHomePage.class
/target/test-classes/tests/Etsy.class
/target/test-classes/utilities/ApplicationFlow.class
/target/test-classes/utilities/Config.class
/target/test-classes/utilities/Driver.class
/target/test-classes/configurations.properties
